<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <link href="./assets/css/app.css" rel="stylesheet">

        <title>Online Alcohol Training & Certification | Aceable</title>
    </head>
    <body>
        <div class="Nav__wrapper +scroll-style">
            <nav class="Nav">
                <div class="Nav__logo">
                    <a href="/"><img src="/assets/img/aceable-logotype-black.png"></a>
                </div>
                <ul class="Nav__list">
                    <li class="Nav__list-item">
                        <a data-scroll class="Nav__link" href="#LayerFeatures">
                            Features
                        </a>
                    </li>
                    <li class="Nav__list-item">
                        <a data-scroll class="Nav__link" href="#LayerServices">
                            Services
                        </a>
                    </li>
                    <li class="Nav__list-item">
                        <a data-scroll class="Nav__link" href="#LayerTestimonials">
                            Testimonials
                        </a>
                    </li>
                    <li class="Nav__list-item">
                        <a class="Nav__link" href="#">
                            About Us
                        </a>
                    </li>
                    <li class="Nav__list-item">
                        <a data-scroll class="Button" href="#LayerServices" v-bind:class="getClasses('nav.button.classes')">
                            {{{ getContent('nav.button.text') }}}
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="MainGraphic__wrapper">
            <div class="container">
                <div class="MainGraphic">
                    <div class="MainGraphic__video">
                        <div class="Video__wrapper --16-by-9">
                            <iframe class="Video" width="100" height="100" v-bind:src="youtubeEmbedSrc" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="MainGraphic__content">
                        <h1>{{{ getContent('mainGraphic.content.h1') }}}</h1>
                        <p class="lead">{{{ getContent('mainGraphic.content.p') }}}</p>
                        <ul>
                            <li v-for="featureCard in featureCards">{{ featureCard.title }}</li>
                        </ul>
                        <a data-scroll class="Button" href="#LayerServices" v-bind:class="getClasses('mainGraphic.content.button.classes')">
                            {{{ getContent('mainGraphic.content.button.text') }}}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="Layer" id="LayerFeatures">
            <div class="container">
                <div class="ContentLayer">
                    <div class="ContentLayer__text">
                        <h2>{{{ getContent('features.content.h2') }}}</h2>
                        <p>{{{ getContent('features.content.p') }}}</p>
                    </div>
                </div>

                <div class="Cards">
                    <div class="Card__wrapper" v-bind:class="getClasses('features.cardClasses')" v-for="featureCard in featureCards">
                        <div class="Card">
                            <h3>{{ featureCard.title }}</h3>
                            <p>{{{ featureCard.description }}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="Layer --testimonials +background-primary" id="LayerTestimonials">
            <div class="container">
                <div class="ContentLayer">
                    <div class="ContentLayer__text">
                        <h2>{{ getContent('testimonials.content.h2') }}</h2>
                        <p>{{{ getContent('testimonials.content.p') }}}</p>
                    </div>
                </div>
                <div class="Cards">
                    <div class="Card__wrapper" v-for="testimonialCard in testimonialCards" v-bind:class="getClasses('testimonials.cardClasses')">
                        <div class="Card --testimonial">
                            <img class="Testimonial__image" v-bind:src="testimonialCard.image">
                            <p class="Testimonial__quote">"{{ testimonialCard.quote }}"</p>
                            <p class="Testimonial__source">- {{ testimonialCard.source }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="Layer" id="LayerServices">
            <div class="container">
                <div class="ContentLayer">
                    <div class="ContentLayer__text">
                        <h2>{{ getContent('services.content.h2') }}</h2>
                        <p>{{{ getContent('services.content.p') }}}</p>
                    </div>
                    <div class="Card__filter">
                        <div class="input-group">
                            <input class="form-control" placeholder="Find Your State" type="text" v-model="serviceFilter">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button" v-on:click="clearServiceFilter()" v-show="serviceFilter"><i class="fa fa-close"></i></button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="Cards">
                    <div class="Card__wrapper --fourth" v-for="service in services.cards | filterBy serviceFilter in 'state'">
                        <div class="Card">
                            <h3>{{ service.state }}</h3>
                            <p>{{ service.description }}</p>
                            <a class="Button +purchase" href="#" v-on:click.prevent="alertForPageThatDoesNotExist()">
                                <span v-bind:class="{'purchase-retail': service.price.discount}">{{ service.price.retail }}</span>
                                <span class="purchase-discount" v-if="service.price.discount">{{ service.price.discount }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="Layer +background-primary  --about-aceable">
            <div class="container">
                <div class="ContentLayer">
                    <div class="ContentLayer__text">
                        <h2>
                            {{{ getContent('about.content.h2') }}}
                        </h2>
                        <p>
                            {{{ getContent('about.content.p') }}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="Layer --footer">
            <div class="container">
                <div class="ContentLayer">
                    <div class="ContentLayer__text">
                        &copy;2016 Aceable, All Rights Reserved. &nbsp; | &nbsp; <a href="#" v-on:click.prevent="alertForPageThatDoesNotExist()">Terms and Conditions</a> &nbsp; | &nbsp; <a href="#" v-on:click.prevent="alertForPageThatDoesNotExist()">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>

        <script src="./assets/js/app.js"></script>
    </body>
</html>
