$brand-primary: #12BDCD;
$brand-secondary: darken($brand-primary, 12%);
$enable-flex: true;
$enable-rounded: false;
$gray: #bfbfbf;
$gray-lightest: #efefef;
$body-bg: $gray-lightest;
$list-inline-padding: 1rem;

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/font-awesome/scss/font-awesome';

@mixin default-transition() {
    transition: 256ms all ease-in-out;
}

.Card {
    @extend .p-a-1;
    @extend .text-xs-center;

    background-color: white;
    position: relative;

    h3 {
        color: $brand-secondary;
        font-size: $font-size-h4;
        font-weight: 200;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &.\--testimonial {
        padding-top: ($spacer * 3.5) !important;
    }

    &__wrapper {
        @extend .col-xs-12;
        @extend .p-a-1;

        &.\--fourth {
            @extend .col-md-3;
        }

        &.\--third {
            @extend .col-md-4;
        }
    }
}

.Cards {
    @extend .row;
}

.ContentLayer {
    @extend .row;

    &__text {
        @extend .col-xs-12;
        @extend .p-y-1;
        @extend .text-xs-center;

        h2 {
            color: black;
            font-size: $font-size-h1;
            font-weight: 200;
            letter-spacing: 1px;
            text-transform: uppercase;

            .\+background-primary & {
                color: white;
            }
        }

        p {
            @extend .col-md-8;
            @extend .offset-md-2;
        }
    }
}

.Layer {
    @extend .p-y-1;

    &.\--footer {
        background-color: white;
    }
}

.MainGraphic {
    @extend .row;

    &__content {
        @extend .col-md-5;
        @extend .col-xs-12;
        @extend .p-a-1;

        color: white;

        h1 {
            font-size: $font-size-h1;
            font-weight: 200;
            text-transform: uppercase;
        }
    }

    &__video {
        @extend .col-md-7;
        @extend .col-xs-12;
        @extend .p-a-1;
    }

    &__wrapper {
        background-color: black;
        background-image: url('../img/MainGraphic-bg.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        padding: ($spacer * 2) 0;
    }
}

.Nav {
    @extend .row;

    &__link {
        color: black;
    }

    &__list {
        @extend .col-md-10;
        @extend .list-inline;
        @extend .text-xs-right;

        font-size: $font-size-sm;
        margin-bottom: auto;
        margin-top: auto;
        text-transform: uppercase;

        &-item {
            @extend .list-inline-item;
        }
    }

    &__logo {
        @extend .col-md-2;
        @extend .col-xs-12;

        img {
            @extend .img-fluid;
        }
    }

    &__wrapper {
        @extend .container-fluid;

        background-color: white;
        padding: $spacer;
    }
}

.Button {
    @extend .btn;

    @include default-transition();

    text-transform: uppercase;

    &.\+ghost {
        @include button-outline-variant(white);

        &:hover {
            color: $brand-primary;
        }
    }

    &.\+global {
        @include button-variant(white, $brand-primary, $brand-primary);
    }

    &.\+small {
        font-size: $font-size-sm;
    }
}

.Testimonial {
    &__image {
        border-radius: 50%;
        display: block;
        height: ($spacer * 4);
        position: absolute;
            top: ($spacer * -1);
            left: calc(50% - (#{$spacer} * 2));
        width: ($spacer * 4);
    }

    &__quote {
        font-style: italic;
    }

    &__source {
        font-weight: bold;
    }
}

.Video {
    @extend .embed-responsive-item;

    &__wrapper {
        @extend .embed-responsive;

        &.\--16-by-9 {
            @extend .embed-responsive-16by9;
        }
    }
}

.\+background-primary {
    background-color: $brand-primary;
}
