$brand-primary: #12BDCD;
$brand-secondary: darken($brand-primary, 12%);
$enable-flex: true;
$enable-rounded: false;
$gray: #bfbfbf;
$gray-less-dark: #808080;
$gray-lightest: #efefef;
$link-hover-decoration: none;
$list-inline-padding: 1rem;

$body-bg: $gray-lightest;
